* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--font);
}

.three-wrapper {
    padding-top: 100px;
    display: flex;
    max-width: 1800px;
    margin: 0 auto;
    background-color: var(--body);
    transition: all 100ms ease-in-out;
}

h1 {
    font-size: 40px;
    font-weight: 500;
}

h4 {
    font-size: 15px;
    font-weight: 300;
}

h5 {
    font-size: 15px;
    font-weight: 300;
}

.icon-wrapper {
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-wrapper img {
    width: 100%;
}

.icon-figma-wrapper {
    width: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-figma-wrapper img {
    width: 100%;
}

::selection {
    background: var(--mode); /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: var(--mode); /* Gecko Browsers */
  }

  a {
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
  }

.to {
    transition: all 100ms ease-in-out;
}

.gitdark {
    fill: var(--gitdark);
}

.gitlight {
    fill: var(--gitlight);
}

.fig {
    transition: all 100ms ease-in-out;
}

.contact-github-wrapper {
    display: flex;
    align-items: center;
    gap: 25px;
    z-index: 5;
}

.mode-svg {
    background-color: var(--navFont);
    border-radius: 50%;
    padding: 1px;
    cursor: pointer;
}

.fill {
    fill: var(--mode);
    transition: all 100ms ease-in-out;
}